body{
    background-color: lightslategray;
}
.foto-bruno{
    border-radius: 50%;
    width: 300px;
}
.name-description {
    color: floralwhite;
    font-family: fantasy,sans-serif;
}
.iten01{
    font-size: large;
}
.iten02{
    font-size: medium;
}
.iten03{
    font-size: small;
}
.iten04{
    font-size: smaller;
}
.blog{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 10% ;
    line-height: 10px;
    margin-top: 50px;
    text-decoration: none;
}